html {
  background-color: #6a85b0;
}

.wrapper {
  background-color: #485a78;
}

.logo {
  float: left;
  width: 200px;
  height: 175px;
}

.body {
  background-color: #4d6a99;
}

.nav {
  border-bottom-color: #697891;
  border-bottom-style: solid;
}
